
h1,h2{
    margin: 0;
    padding: 0;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 10%;
  left: 46%;
  transform: translate(-50%, -50%);
}

/* End of search bar */

#mainDiv{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-top: 120px;
    margin-left: 20px;
    grid-gap: 10px;
}

.itemDiv{
    
    height: 300px;
    word-wrap: break-word;
    padding: 10px;
    border: 1px solid gray;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
   

}
.itemDiv img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    
}

/* Item info */
.itemInfo{
    
    position: absolute;
    top:130px;
    left: 33%;
    width: 330px;
    word-wrap: break-word;
    padding: 10px;
    border: 1px solid gray;
    cursor: pointer;
    background-color: rgb(66, 148, 100);
    color: white;
    border-radius: 6px;
   

}
.itemInfo img{
    width: 100%;
    height: 280px;
    border-radius: 8px;
    
}
ul{
    list-style-type: none;
}
.fa-check-circle{
   
    color: rgb(221, 91, 68);
    background-color: white;
    border-radius: 50%;
}

#banner{
    width: 500px;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}